{% extends "base.html" %} {% block title %}Registrar-se{% endblock %} {% block
content %}
<form enctype="multipart/form-data" method="POST">
  <br />
  <h3 align="center">Registrar-se</h3>
  <div class="form-group">
    <label for="email">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Insira e-mail válido"
    />
  </div>
  <div class="form-group">
    <label for="fullName">Nome</label>
    <input
      type="text"
      class="form-control"
      id="fullName"
      name="fullName"
      placeholder="Insira seu nome"
    />
  </div>
  <div class="form-group">
    <label for="password1">Senha</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Insira senha válida"
    />
  </div>
  <div class="form-group">
    <label for="password2">Senha (confirmação)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirme a senha digitada"
    />
  </div>
  <div class="form-group">
    <label for="file">Foto do perfil</label>
  </br>
    <input type="file" name="pic" enctype="multipart/form-data" method="POST" />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Registrar-se</button>
</form>
{% endblock %}
